@media screen and (max-width: 456px) {

    header h1 {
        display: none;
        margin: 0;
        font-size: 1.8em;
    }
    header {
       justify-content:center;
    }
    
    .best-movie-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .movie-poster {
        clip-path: inset(0 0 0 0);
        width: 300px;
        height: 200px;

    }

    .movie-details {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .movie-details h5 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .movie-details p {
        margin: 20px 0;
        font-size: 1.2em;
    }

    .details-button {
        width: 80%;
        height: 50px;
        font-size: 1.5em;
    }

    /* Afficher uniquement 4 vignettes par catégorie */
    .category .movie-thumbnail:nth-child(n+3) {
        display: none;
    }

    /* Afficher le bouton "Voir plus" */
    .see-more-button {
        display: block;
    }
}

/* Adaptation pour les tablettes et les mobiles */
@media screen and (max-width: 456px) {
    .modal {
        width: 50%;
        max-height: 85vh;
        flex-direction: column; /* Réorganise en une colonne */
    }

    .modal-content-first-part {
        flex-direction: column; /* Réorganise en une colonne */
    }

    .modal-content-first-part-top-left {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center; /* Centrer le texte pour un affichage agréable sur mobile */
    }

    .modal-content-first-part-top-left  h3 {
        font-size: 1.6em;
    }

    .modal-content-first-part-top-left  p {
        font-size: 1.1em;
    }

    .modal-content-first-part-top-right img {
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }

    .modal-content-second-part {
        text-align: center; /* Centrer le texte de la description sur mobile */
    }
}