@import "fonts.css";

/* global styles */
* { 
    font-family: Oswald, sans-serif;
    margin: 2%;
    font-size: 1em;
}



body {
    margin: 20;
    padding: 0;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 3em;
}

header {
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color: #61787F;
    color: #fff;
    justify-content: space-around;
}

header img {
    width: 127px;
    height: 94px; 
}

header p {
    margin: 0;
    font-size: 1.8em;
}

main {
    margin: 0;
    padding: 0;
}

.best-movie {
    margin: 0;
    padding: 0;
}

.best-movie h2 {
    font-size: 1.8em;
    text-align: left;
}

.best-movie-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:space-around;
    border: 5px black solid ;
    align-content:center;
}

.movie-poster img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.movie-details {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: space-between;
}

.movie-details h3 {
    display: flex;
    align-content:stretch;
    font-size: 2em;
    margin-top: 0;
}

.movie-description {
    margin: 10px 0;
    font-size: 1.5em;
}

.details-button, .play-button {
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.details-button:hover, .play-button:hover {
    background-color: #d00;
}

.movie-categories {
    display: flex;
    flex-direction: column;
}

.category {
    display: flex;
    flex-wrap: wrap;
    

}

.category ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
}

.category ul li {
    margin-bottom: 5px;
}

.category ul li img {
    width: 100%;
    height: auto;
    max-width: 252px;
    max-height: 247px;
}

.category ul li a {
    text-decoration: none;
    color: #00f;
}

.other-categories {
    margin-top: 20px;
}

.dropdown {
    display: inline-block;

}

.dropdown-button {
    background-color: #61787F;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #555;
}


/* Styles pour les vignettes de films avec bandeau */
.movie-thumbnail {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: auto;
}

.movie-thumbnail img {
    width: 100%;
    height:fit-content;
    align-items: center;
    justify-content: space-around;
}

.banner {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    opacity: 1;
}

.movie-title {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}

.banner .details-button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.8em;
    align-self: flex-end;
}

.banner .details-button:hover {
    background-color: #d00;
}

/* Styles de la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 778px;
    height: 939px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 6px solid #888;
    padding: 20px;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-details {
    text-align: left;
}

.modal-title {
    margin-top: 0;
}

.modal p {
    margin: 10px 0;
}
