/* Media query pour les tablettes (768px à 1023px) */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .movie-thumbnail {
        min-width:47%;
    }

    /* Afficher uniquement 4 vignettes par catégorie */
    .category .movie-thumbnail:nth-child(n+5) {
        display: none;
    }

    /* Afficher le bouton "Voir plus" */
    .see-more-button {
        display: block;
    }
}

/* Adaptation pour les tablettes et les mobiles */
@media screen and (max-width: 1023px) {
    .modal {
        width: 90%;
        padding: 10px;
    }

    .close {
        display: none;
    }

    .closeX {
        display: block;
    }
    .modal-content {
        display:flex;
        flex-direction: column;
    }

    .modal-content-img-tablet-mobile {
        display:block;
    }

    .modal-content-img{
        display: none;
    }
    .modal-content-img-tablet-mobile img{
        width: 100%;
    }
}